#root {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Navbar container */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 16px;
  background-color: white;
  z-index: 1000;
}

.site-title {
  font-family: 'BBH Bartle', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-top: 16px;
  color: #4e6086;
  
}

/* Links container */
.nav-links {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 16px;
}

/* Individual link styles */
.nav-links a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #797979;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ddb986;
}

.footer {
  padding: 16px;
  text-align: center;
  color: #919191;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
